$highlightColor : #94c02f;
$normalColor: #d0d0d0;

body{

  background: #242424;
  color: #d0d0d0;

  #title{
    font-family: sans-serif;
    text-align: center;
    line-height: 100px;
    font-size: 2em;
  }

  #terminal{
    font-family: monospace;
    text-align: left;
    font-size: 1.1em;
    width: 70%;
    margin: auto;
    padding: 10px 50px;
    border: 1px dashed gray;
  }

}
