$highlightColor : #94c02f;
$normalColor: #d0d0d0;


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(assets/montserra.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body{
  font-family: sans-serif;
  margin: 10%;
  //background: #e7e7e7;
  max-width: 80%;
}

h1,h2,h3{
  font-family: Montserrat, sans-serif;
}

h1{
  text-align: center;
  color: #c89d64;
}
h2{
  text-align: center;
  color: #c89d64;
}

h3{
  margin-top: 50px;
  color: #c89d64;
  margin-bottom: 5px;
}

h4{
  //font-style: italic;
  color:rgb(187, 187, 187);
  margin: 0;
}

a{
  color: #aa8055;
  font-family: monospace;
  font-size: 1.2em;
  & :visited{
    color: #aa8055;
  }
}

#education ~ h4{
    color:black;
  font-style: normal;
}

pre{
  margin: 5px 5px 20px 5px;
}


.subtitle{
  text-align: center;
  display: block;
  font-family: Montserrat, sans-serif;
  margin-top: -17px;
  color: #c89d64;
}


.end{
  text-align: center;
  display: block;
}