html, body {
  background: lightgray;
  font-family: sans-serif;
}

//make zero on 3 column (without touching html)

//center in 3 or 4 way (without touching html)

.wrap-blue {
  background: lightblue;
  //display: none;
}

.text0 {
  background: red;
  width:600px;
  display: block;
}

//selectors text1 in 2 way (remove .text1 class)

.text1  {
  display: block;
  width:600px;
  background: yellow;

}

.text2 {
  display: block;
  width:600px;
}

//make a full page + menu + header


.my-page {
  display: none;
}

main {

}

aside {

}

footer {

}
