html, body {
  background: lightgray;
  font-family: sans-serif;
}

//q0: make zero on 3 column (without touching html)

//q1: center in 3 or 4 way (without touching html)

.wrap-blue {
  background: lightblue;
  //display: none;
}

.text0 {

}

//q2: selectors text1 in 2 way (remove .text1 class)

.text1 {
  display: none;
}

.text2 {
  display: none;
}


//q3: make a full page + menu + header


.my-page {
  display: none;
}

main {

}

aside {

}

footer {

}
